@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
    --pink-main: #ec4899;
    --pink-light: #fce7f3;
    --pink-dark: #be185d;
    --gray-bg: #fafafa;
    --gray-border: #e5e7eb;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--gray-bg);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 30px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

h1 {
    color: var(--pink-dark);
    font-weight: 1000;
    margin-bottom: 5px;
}

h2 {
    color: var(--pink-main);
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 20px;
}

b1 {
    font-size: 20px;
    color: #41081d;
    font-style: var(--gray-border);
    margin-bottom: 5px;
    display: block;
    margin-bottom: 20px;
}

b2 {
    font-size: 10px;
    color: #2a2325;
    font-style: italic;
    margin-bottom: 5px;
    display: block;
}

form {
    display: flex;
    gap: 12px;
    margin-bottom: 30px;
}

select {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--gray-border);
    font-size: 14px;
}

button {
    background-color: var(--pink-main);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 18px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: var(--pink-dark);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: var(--pink-light);
    color: var(--pink-dark);
    padding: 10px;
    text-align: left;
    font-weight: 600;
}

td {
    padding: 10px;
    border-bottom: 1px solid var(--gray-border);
    font-size: 14px;
}

tr:hover {
    background-color: #fdf2f8;
}